* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
  }

.page-link{
    text-decoration: none;
}

/* header styling start */
header {
    display: flex;
    /*
    background-color: green;
    */
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
}

header h2 {
    font-size: 30px;
    flex: 1;
    width: 33%;
    margin-right: 0;
    padding-right: 30px;
    
}

header nav {
    display: flex;

    font-size: 25px;
    flex: 2;
    width: 33%;
    /*
    background-color: lightblue;
    */
    /*
    text-align: right;
    */
    /*
    padding-right: 30px;
    */

}

header nav .time-remaining-text{
    text-align: right;
    margin-left: 0px;
    padding-left: 0px;
    flex: 1;
    width: 33%;
    /*
    background-color: teal;
    */
}

header nav .time-remaining-number {
    text-align: right;
    flex: 2;
    width: 33%;
    margin-left: 10px;
    margin-right: 50px;
    color: red;
    /*
    background-color: pink;
    */
}
/* header styling end */


/* quiz question area start */
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 20%;
    margin-top: 10%;
    border-style: ridge;
    border-width: 5px;
}

.start-game-text{
    margin: 10px 33% 10px 33%;
    /* clicking start game triggers display none attribute */

}

.start-button-area .start-button{
    margin: 10px 33% 10px 33%;
    background-color: purple;
    color: white;
    font-size: 20px;
    /* clicking start game triggers display: none; attribute */
}

.answer-buttons-area, #answer-buttons-area {
    display: none;
    display: flex;
    flex-direction: column;
    visibility: hidden;
 
    /* clicking start game triggers display: block; attribute */
}

.answer-button {
    display: none;
    /* have to do this for the beginning start page to hide the rogue buttons
    appearing and stretching the page */
    /* will display: block; when the first page loads */
}



#answer-button-text1, #answer-button-text2, #answer-button-text3, #answer-button-text4 {
  text-align: center;
    
}

#answer-button-text1:hover{
    background-color: mediumorchid;
}
#answer-button-text2:hover{
    background-color: mediumorchid;
}
#answer-button-text3:hover{
    background-color: mediumorchid;
}
#answer-button-text4:hover{
    background-color: mediumorchid;
}
#answer-button-text5:hover{
    background-color: mediumorchid;
}
#answer-button-text6:hover{
    background-color: mediumorchid;
}
#answer-button-text7:hover{
    background-color: mediumorchid;
}
#answer-button-text8:hover{
    background-color: mediumorchid;
}
#answer-button-text9:hover{
    background-color: mediumorchid;
}
#answer-button-text10:hover{
    background-color: mediumorchid;
}
#answer-button-text11:hover{
    background-color: mediumorchid;
}
#answer-button-text12:hover{
    background-color: mediumorchid;
}
#answer-button-text13:hover{
    background-color: mediumorchid;
}
#answer-button-text14:hover{
    background-color: mediumorchid;
}
#answer-button-text15:hover{
    background-color: mediumorchid;
}
#answer-button-text16:hover{
    background-color: mediumorchid;
}

.answer-buttons-area button{
    margin: 10px 33% 10px 33%;
    background-color: purple;
    color: white;
    font-size: 20px;
}

.start-button:hover {
    background-color: mediumorchid;
}

.start-button .button-text .text-link{
    /*
    display: flex;
    justify-content: flex-end;
    flex: 3;
    */
    width: 33%;
    text-decoration: none;
    color: white;
    text-align: center;
}

.quiz-page-link{
    text-decoration: none;
    display: hidden;
}
/* quiz question area end */



@media screen and (max-width:980px){
    header  {
        margin-top: 20px;
    }
}